.panda-bg-info{
    background-color: #ffb6bd;
}
.categories img{
    width: 100px;
}
.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.btn-section{
    text-align: center;

}
.btn-js{
    border: none;
    background-image: linear-gradient(tomato, rgb(154, 173, 70));
    border-radius: 15px;
    padding: 5px 10px;
}